# ---------------------------------------------
# 📊 DATA PROCESSING & ANALYSIS
# ---------------------------------------------
pandas>=2.0.0         # Data manipulation and analysis — core for working with tabular data
numpy>=1.24.3     # Numerical operations, arrays, and matrix support (used by almost all ML libraries)

# ---------------------------------------------
# 🧠 MACHINE LEARNING
# ---------------------------------------------
scikit-learn>=1.2.2   # Classic ML models (regression, classification, clustering), preprocessing, model evaluation
xgboost>=1.7.5
# ---------------------------------------------
# 📈 VISUALIZATION
# ---------------------------------------------
matplotlib>=3.8.0      # Base library for plotting graphs, charts, and visualizations
seaborn>=0.13.0

# ---------------------------------------------
# 📦 EXPERIMENT TRACKING & MODEL MANAGEMENT
# ---------------------------------------------
mlflow>=2.10.0         # End-to-end ML lifecycle tracking, including experiment tracking, model packaging, and deployment

# ---------------------------------------------
# ✅ TESTING
# ---------------------------------------------
pytest>=8.0.0

# ---------------------------------------------
# ⚡ API DEVELOPMENT (FOR MODEL SERVING)
# ---------------------------------------------
fastapi>=0.100.0       # Lightweight, high-performance web framework for serving ML models via REST APIs
uvicorn>=0.23.0
#
# ---------------------------------------------
#  MISC
# ---------------------------------------------
pyyaml>=6.0.1
joblib==1.4.0
setuptools>=70.1.0
ipykernel==6.29.5


